<div class="row customer">
	<h2  class="midashi_txt"><i class="fas fa-users"></i>   会員一覧</h2>
	 <table class="table product_table txts table-hover table-inverse">

		<thead>
	    <tr>
			<th class="brown_txt txts">会員ID</th>
			<th class="brown_txt txts">氏名</th>
			<th class="brown_txt txts">メールアドレス</th>
			<th class="brown_txt txts">ステータス</th>
			<th colspan="3"></th>
		</tr>
		</thead>

		<body>
		      <% @customers.each do |customer| %>
		      <tr>
				<td><%= customer.id %></td>
				<td><%= link_to admins_customer_path(customer) , class: "link_txt" do %>
					<%= customer.name_all%>
						<% end %>
					</td>
				<td><%= customer.email %></td>
                <td>
                  <% if customer.account_status == true %>
                  <p class="true_txt">有効</p>
                  <% else %>
                  <p class="false_txt">退会済み</p>
                  <% end %>
                  <%= paginate @customers %>
                </td>
              </tr>
              <% end %>
		</body>
	 </table>
 <div class='text-center'><%= paginate @customers, class: "paginate" %></div>
</div>