<div class="row admin-order">
	<h2  class="midashi_txt"><i class="fas fa-clipboard-list"></i>   注文履歴一覧</h2>
	<table class="table product_table txts table-hover table-inverse">

		<thead>
			<tr>
				<th class="brown_txt txts">購入日時</th>
				<th class="brown_txt txts">購入者</th>
				<th class="brown_txt txts">注文個数</th>
				<th class="brown_txt txts">注文ステータス</th>
				<th colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @orders.each do |order| %>
			<tr>
				<td><%= link_to admins_order_path(order.id) , class: "link_txt" do %>
					<%= order.created_at.to_s(:datetime_jp) %>
					<% end %>
				</td>
				<td><%= order.customer.name_all %></td>

				<% @sum = 0 %>
				<% order.order_items.each do |order_item| %>
				<%@sum+= order_item.quantity %>
				<% end %>
				<td><%= @sum %></td>

				<td><%= order.buy_status %></td>
			</tr>
			<% end %>
		</body>
	</table>
	<div class='text-center'><%= paginate @orders, class: "paginate" %></div>
</div>