<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f3fffa880e.js" crossorigin="anonymous"></script>
  </head>

  <body>
     <%= render 'layouts/header' %>
     <div class="header_wrap"></div>
     <div class="body">
       <div class="container">
    <%= yield %>
        </div>
     </div>
      <%= render 'layouts/footer' %>
  </body>
</html>
